#info-card{
  display: flex;
  flex-direction: column;
  padding: 2rem;

  & h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  & p{
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  & summary{
    font-size: 1.2rem; 
    display: block; 
    margin: 0.5rem 0;
    & :hover{
      cursor: pointer;
    }
  }
  & a{
    margin: 0.5rem 0;
    text-decoration: underline;
    color: black;
    font-size: 2rem;
  }
  & .event-images{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width:100%;

    & img{
      max-width: 100%;
      width: 200px;

      &:hover{
        transform: scale(110%);
      }
    }
  }
}